EGAS_BASE_URL=http://192.168.1.101
EGAS_USERNAME=your_egas_username
EGAS_PASSWORD=your_egas_password
EGAS_HEADLESS=true
EGAS_SLOW_MO=0

ZALO_BOT_TOKEN=your_zalo_bot_token
ZALO_WEBHOOK_SECRET=your_random_secret_token
ZALO_POLL_TIMEOUT=30
ZALO_POLL_DELAY_MS=1000
PORT=3000

ZALO_MONITOR_CHAT_ID=your_group_chat_id
ZALO_MONITOR_QUERY=ams
ZALO_MONITOR_INTERVAL_MS=60000
ZALO_MONITOR_DAILY_HOUR=5
